<mat-slide-toggle [(ngModel)]="onlyFavourites" class="toggle-favourites"
  >Show only favourites</mat-slide-toggle
>
<div class="container">
  <mat-card
    *ngFor="let movie of onlyFavourites ? filteredMovies() : movies"
    class="card"
  >
    <mat-card-header class="link" [routerLink]="['/movies', movie._id]">
      <mat-card-title>
        {{ movie.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ movie.director }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ movie.year }}</p>
      <div class="img-container link" [routerLink]="['/movies', movie._id]">
        <img mat-card-image [src]="movie.poster" />
      </div>
    </mat-card-content>
    <button
      mat-fab
      class="favourite"
      color="secondary"
      (click)="
        movie.favourite ? deleteFavourite(movie._id) : addFavourite(movie._id)
      "
    >
      <mat-icon
        [fontIcon]="movie.favourite ? 'favorite' : 'favorite_border'"
      ></mat-icon>
    </button>
  </mat-card>
</div>
