.top {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.left {
  width: 400px;
  background-color: #e8def8;
  padding: 35px;
  border-radius: 15px;
}

.right {
  img {
    width: 350px;
  }
}

.rent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.description {
  margin-top: 20px;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.comments {
  width: 50%;
  margin-bottom: 100px;
}

.comment-text {
  padding: 15px;
  word-wrap: break-word;
  text-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comments-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  margin: 20px;
}

.author {
  font-size: 20px;
  font-weight: 500;
}

p {
  margin: 0;
}
